﻿@model Sort

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Sequence</h2>
            <hr />
        </div>
        <p>Please enter numbers separated by commas (,)</p>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="numbers">Numbers</label>
            <input asp-for="numbers" class="form-control" name="numbers" id="numbers" />
            <span asp-validation-for="numbers" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="order">Sort Order</label>
            @*<input asp-for="order" class="form-control" name="order" id="order"/>*@
            <select asp-for="order">
                <option>Ascending</option>
                <option>Descending</option>
            </select>
            <span asp-validation-for="order" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to Home</a>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
