﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Sort>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">Number Sorter</h1>
            @if (TempData["success"] != null)
            {
                <h4 class="text-success">@TempData["success"]</h4>
            }
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Sort" asp-action="Index" class="btn btn-primary">
                Create sequence
            </a>
        </div>
    </div>
</div>



<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Sequence
            </th>
            <th>
                Time Taken (ms)
            </th>
            <th>
                Order
            </th>
            <th>
                <a asp-asp-controller="Home" asp-action="JSON" class="btn btn-warning mx-2">
                    JSON <i class="bi bi-file-earmark-arrow-down-fill"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.numbers
                </td>
                <td width="20%">
                    @obj.timeTaken
                </td>
                <td width="20%">
                    @obj.order
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>